* {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    box-sizing: border-box;
}
.custom-select {
    background: #FFF url() no-repeat center right 10px;
    display: inline-block;
    border-radius: 2px;
    /* width: 32%; */
    cursor:pointer;
}
#custom-select-time-option-box, 
#custom-select-tags-option-box, 
#custom-select-other-option-box{
    background: #FFF;
    border: rgb(194, 194, 194) 1px solid;
    color: #5c5c5c;
    border-radius: 2px;
    position:absolute;
    top: 37px;
    z-index:1;
    display:none;
}

.custom-select-option {
    width: 100%;
    padding: 5px 15px;
    margin: 1px 0px;
    cursor:pointer;
}
.custom-select-option:hover {
    background: #def6fa;
}
.spanSearch {
    width: 38px;
    height: 38px;
    box-sizing: border-box;
}
.custom-select,.spanSearch, input{
    border: 1px solid rgb(194, 194, 194);
    padding:0%;
}
.bgFunction {
    background-color: #ffffff;
}
.fontTitle {
    font-weight: 900;
}
@media (min-width: 576px) {
    .secondSelectRes {
        display: none;
    }
}
@media (max-width: 576px) {
    .firstSelectRes {
        display: none;
    }
    .price {
        display: none;
    }
}
.price {
    height: 300px;
    color: #ffffff;
    position: absolute;
    top: 85%;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.avatar:hover > .price {
    top: 0%;
}
img {
    object-fit: cover;
}
.avt {
    object-fit: cover;
}
html {
    scroll-behavior: smooth;
}
table, th, td {
    border: 1px solid rgb(160, 160, 160);
    border-collapse: collapse;
    padding: 8px;
}
.tbBgCl tr td:nth-child(even) {
    background-color: #f6f6f6;
}
th {
    background-color: #dadada;
}
.checked {
    width: 25px;
    height: 25px;
    margin: 4px 0;
}